@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-family: 'Open+Sans', sans-serif; 
	text-align: center;
}

header {
    background-color: #FFF;
}

nav { 
  color: #000;
  background-color: rgba(244,139,178, 0.5);
  font-size: 24px;
  font-weight: bold;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
}
nav a {
  padding: 1.5em;
}

#coverimage {
  background: url(../images/cover2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.toplogo {
  height: 380px;
  width: 380px;
}

#tagline {
  color: #F64E8B;
  font-size: 26px;
  font-weight: bold;
  padding: 1em;
}

h1 { 
  color: #F64E8B;
	font-size: 34px;
	font-weight: bold;
  text-decoration: none;
  padding: 1em;
}

.logo {
  color: #F64E8B;
  font-size: 34px;
 font-weight: bold;
  text-decoration: none;
  padding: .5em;
}

h2 { 
  color: #F64E8B;
	font-size: 24px;
	font-weight: bold;
  text-decoration: none;
  padding: .2em 0;
}

h3 { 
  color: #000;
	font-size: 18px;
	font-weight: bold;
  text-decoration: none;
}

p { 
  color: #000;
	font-size: 16px;

  line-height: 1.5em;
  text-decoration: none;
  text-align:center;
}

.cta {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
  text-decoration: none;
  width: 25%;
  text-align:center;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #F64E8B;
    text-decoration:underline;
    text-decoration-style: solid;
    text-decoration-color: #F64E8B;
    cursor:pointer;
   }

.headline {
  background-color: rgba(244,139,178, 0.5);
  color: #F64E8B;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

section {
    display: block;
}

#threecolumn {
    background-color: #FFF;
}

#threecolumn1 {
    float: left;
    background-color: rgba(244,139,178, 0.5);
    width: 31.33%;
    margin: 2%;
}

#threecolumn2 {
    float: left;
    background-color: rgba(244,139,178, 0.5);
    width: 31.33%;
    margin: 2%;
}

#threecolumn3 {
    float: left;
    background-color: rgba(244,139,178, 0.5);
    width: 31.33%;
    margin: 2%;
}

.startimage {
    width:100%;
    padding: 10px;
    display: block;
}

article {
    display: block;
}

#featuredleft {
    float: left;
    background-color: #FFF;
    padding: 20px;
    display: inline-block;
    overflow: hidden;
}

div.featuredimage {
    text-align: left;
    padding: 4em;

}

.featuredimage {
    width:50%;
}

.fourcolumn {
    float: left;
    background-color: #FFF;
    border: border: 1px solid black;
    display: block;
}

.secondaryimage {
    width: 23%;
    margin: 0 2%;
}

.secondaryarticle {
    text-align: center;
}


#featuredright {
    float: right;
    background-color: #FFF;
    padding: 20px;
    display: inline-block;
    overflow: hidden;
}


footer {
  background-color: rgba(244,139,178, 0.5);
}

.bottomlogo {
  height: 150px;
  width: 150px;
}

.socialmedia {
  height: 40px;
  width: 40px;
  margin: 5px 0;
}

#copy {
  padding: 5px;
}