@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-family: 'Open+Sans', sans-serif; 
  font-size: 20px;
  color: #000;
  background-color: #FFF;
	text-align: left;
}

header {
    text-align: center;
}

nav { 
  background-color: rgba(244,139,178, 0.5);
  font-size: 1.4em;
  font-weight: bold;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
  width: 100%;
}

.navfloat {
    float: left;
    background-color: rgba(244,139,178, 0.5);
    width: 23%;
    margin: 1%;
}

nav a {
  padding: 1.5em;
}

#coverimage {
  background: url(../images/cover3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

#toplogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#tagline {
  color: #F64E8B;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  padding: 1em;
}

h1 { 
  color: #F64E8B;
	font-size: 2em;
	font-weight: bold;
  padding: 1em;
}

.logo {
  color: #F64E8B;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  padding: .5em;
}

h2 { 
  color: #F64E8B;
	font-size: 1.6em;
	font-weight: bold;
  text-decoration: none;
}

h3 { 
	font-size: 1.2em;
	font-weight: bold;
  padding-top: 2em
  padding-bottom: 1.5em;
}

.getstartedcta {
  background-color: #E5E5E5;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: .2em;
}

.cta {
  background-color: #E5E5E5;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
  text-decoration: none;
  display: inline-block;
  padding: .2em;
  margin: 1em -.1em;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #F64E8B;
    text-decoration:underline;
    text-decoration-style: solid;
    text-decoration-color: #F64E8B;
    cursor:pointer;
   }

.headline {
  color: #F64E8B;
  background-color: rgba(244,139,178, 0.5);
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
  height: 2em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

section {
    display: block;
}

.sectionstyle {
    padding-top: .5em;
    padding-bottom: 3em;
}

.threecolumn {
    float: left;
    width: 31.33%;
    margin: 1%;
}

.image {
    width:100%;
    display: block;
    padding-bottom: .5em;
}

#featuredstyle {
    padding-bottom: 3em;
}


#twocolumn1 {
    float: left;
    background-color: #E5E5E5;
    width: 42%;
    margin: 4%;
    padding: .8em;
}

#twocolumn2 {
    float: left;
    background-color: #E5E5E5;
    width: 42%;
    margin: 4%;
    padding: .6em;
}

.featureimage {
    width:100%;
    display: block;
    padding-bottom: .5em;
}

article {
    display: block;
}

.fourcolumn1 {
    float: left;
    width: 23%;
    margin: 1%;
}

.fourcolumn2 {
    float: left;
    width: 23%;
    margin: 1%;
}

.threecolumnshop {
    float: left;
    width: 31.33%;
    margin: 1%;
}

.shopcta {
  background-color: #E5E5E5;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
  text-decoration: none;
  display: inline-block;
  padding: .2em;
  margin: 1em -.1em;
}

footer {
  background-color: rgba(244,139,178, 0.5);
  text-align: center;
}

#bottomlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding: .5em;
}

.iconimage {
  max-height: 40px;
  max-width: 40px;
  padding: .1em;
}

#copy {
  padding: .2em;
}

@media only screen and (max-width: 940px) {
  nav {
    font-size: 1.5em;
    height: 3.5em;
    line-height: 1.5em;
  } 

  #coverimage {
    height: 70vh;
}

}

@media only screen and (max-width: 535px) {

  body {
    font-size: 15px;
  }

  nav {
    font-size: 1.5em;
    height: 6em;
    line-height: 1.5em;
  }

  .navfloat {
    float: none;
  } 

  #coverimage {
    height: 60vh;
  }

   #toplogo {
  width: 40%;
}

  .threecolumn {
    float: none;
    width: 84%;
    margin: 8%;
}

  .cta {
    margin: .3em -.1em;
  }

  #twocolumn1 {
    float: none;
    width: 88%;
    margin: 6%;
  }

  #twocolumn2 {
    display: none;
    width: 96%;
    margin: 2%;
  }

  .fourcolumn1 {
    width: 42%;
    margin: 4%;
  }

  .fourcolumn2 {
    display: none;
  }

  .threecolumnshop p {
    display:none;
 }

.shopcta a {
  vertical-align: center;
  text-align: center;
  margin: .3em 0em;
 }

  #bottomlogo {
    width: 30%;
  }
}

@media only screen and (max-width: 389px) {

  #toplogo {
    width: 50%;
 }

  #tagline {
  font-size: 1.2em;
 }
}