@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Open+Sans', sans-serif; 
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav { 
  background-color: #E8C66A;
  color: #5A37C3;
  font-size: 18px;
  font-family: 'Open+Sans', sans-serif; font-weight: bold;
}
#coverimage {
  background: url(../images/cover2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
img {
  padding: .2em;
}
h1 { 
  color: #F4E022;
	font-size: 3em;
	font-family: 'Open+Sans', sans-serif; font-weight: bold;
  text-decoration: none;
  padding: 1em;
}
h2 { 
  color: #5A37C3;
	font-size: 2em;
	font-family: 'Open+Sans', sans-serif; font-weight: bold;
  text-decoration: none;
  padding: .2em 0;
}
h3 { 
  color: #000;
	font-size: 1.2em;
	font-family: 'Open+Sans', sans-serif; font-weight: bold;
  text-decoration: none;
}
p { 
  color: #000;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  text-decoration: none;
  width: 30%;
  text-align:center;
}
 a {
     text-decoration: none;
  }
a:hover {
    color:#F4E022;
    text-decoration:none;
    cursor:pointer;
   }
.headline {
  background-color: #FFED74;
  color: #5A37C3;
  font-size: 2em;
  font-family: 'Open+Sans', sans-serif; font-weight: bold;
  text-decoration: none;
  padding: 1em 0;
}
.start {
    background-color: #FFE2B8;
}
.featured {
    background-color: #E89C6C;
}
.secondary {
    background-color: #E89C6C;
}
.featured2 {
    background-color: #E89C6C;
}
.secondary2 {
    background-color: #E89C6C;
}
footer {
  background-color: #FF957E;
}
#lastlogo {

}
#contact {

}