@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Open+Sans', sans-serif; 
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
header {
    background-color: #E2E2E2;
    padding: 20px;
}
nav { 
  background-color: #E2E2E2;
  color: #2A363B;
  font-size: 24px;
  font-family: 'Open+Sans', sans-serif; font-weight: bold;
}
#coverimage {
  background: url(../images/cover2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.toplogo {
  height: 380px;
  width: 380px;
}
h1 { 
  color: #E74A5F;
	font-size: 30px;
	font-family: 'Open+Sans', sans-serif; font-weight: bold;
  text-decoration: none;
  padding: 1em;
}
.logo {
  color: #E74A5F;
  font-size: 30px;
  font-family: 'Open+Sans', sans-serif; font-weight: bold;
  text-decoration: none;
  padding: 1em;
}
h2 { 
  color: #2A363B;
	font-size: 24px;
	font-family: 'Open+Sans', sans-serif; font-weight: bold;
  text-decoration: none;
  padding: .2em 0;
}
h3 { 
  color: #000;
	font-size: 18px;
	font-family: 'Open+Sans', sans-serif; font-weight: bold;
  text-decoration: none;
}
p { 
  color: #000;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  text-decoration: none;
  width: 25%;
  text-align:center;
}
.cta {
  color: #2A363B;
  font-size: 18px;
  font-family: 'Open+Sans', sans-serif; font-weight: bold;
  line-height: 1.5em;
  text-decoration: none;
  width: 25%;
  text-align:center;
  padding: 0 1em;
}
a:hover {
    color: #E74A5F;
    text-underline-position: under;
    text-decoration-style: solid;
    text-decoration-color: #E74A5F;
    cursor:pointer;
   }
.headline {
  background-color: rgba(231,74,95, 0.5);
  color: #2A363B;
  font-size: 24px;
  font-family: 'Open+Sans', sans-serif; font-weight: bold;
  text-decoration: none;
}
.start {
    background-color: #E2E2E2;
}
.startimage {
    width:30%;
    padding: .5em 1em;
}
.featured {
    background-color: #E2E2E2;
}
.featuredimage {
    width:50%;
    padding: 1em;
}
.secondary {
    background-color: #E2E2E2;
}
.secondaryimage {
    width:25%;
    padding: .5em;
}
footer {
  background-color: rgba(231,74,95, 0.5);
}
.bottomlogo {
  height: 150px;
  width: 150px;
  padding: 0;
}
.socialmedia {
  height: 40px;
  width: 40px;
  padding: .5em;
}