* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: Helvetica;
	text-align: center;
}
#coverimage {background: url(../images/cover2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
img {
  max-width: 100%;
  height: auto;
  border: 4px;
  border-color: #F4E022;
}
h1 { color: #F4E022;
	font-size: 24px;
}
h2 { color: #5A37C3;
	font-size: 20px;
}
h3 { color: #000;
	font-size: 18px;
}
h4 { color: #000;
	font-size: 16px;
}
h5 { color: #000;
	font-size: 14px;
}